html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, address, img, ol, ul, li, article, aside, 
figure, figcaption, footer, header,
menu, nav, output, section 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}

html {
    box-sizing: border-box;
}

body {
    min-width: 320px;
}

.flex {
    display: flex;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/*header*/

.header {
    padding: 44px 0; 
}

.header-container {
    align-items: center;
}

.header-nav {
    margin-left: 27px;
}

.header-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.header-list-item:not(:last-child) {
    margin-right: 16px;
}

.header-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.header-lk {
    margin-left: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    background-color: #FF8A16;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    padding: 8px 12px;
    color: #fff;
}

.dropbtn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: #FF8A16;
}

.header-list-item a:hover {
    color: #FF8A16;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    border: 1px solid #FEF1E2;
}

.dropdown-content a {
    float: inherit;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/*hero-contant*/

.hero-contant-1 {
    padding-top: 105px;
    padding-bottom: 183px;
    background-image: url("/images/main/main-banner.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #EFCED9;
    border-radius: 15px;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.hero-contant-2 {
    padding-top: 105px;
    padding-bottom: 183px;
    background-image: url("/images/main/main-banner-1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #CFDEF0;
    border-radius: 15px;
    flex-direction: column;
    align-items: flex-end;
}

.hero-contant-3 {
    padding-top: 105px;
    padding-bottom: 183px;
    background-image: url("/images/main/main-banner-2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #FEF1E2;
    border-radius: 15px;
    flex-direction: column;
    align-items: flex-end;
}


.hero-contant-btn-link {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    padding: 16px 30px;
    background-color: #F8F8F8;
    border: none;
    margin-top: 58px;
    margin-right: 82px;
    border-radius: 4px;
    cursor: pointer;
}

.slider {
    position: relative;
}

.slideText {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    color: #fff;
    margin-right: 82px;
    max-width: 1200px;
    text-align: right;
    align-items: flex-end;
}

.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;    
    top: 50%;
    max-width: 1100px;
    margin-top: -52px;
    padding: 32px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.item {
    text-align: right;
}

.next {
    margin-right: 16px;
}
